#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
}

#dishes {
    background-color: beige;
}
    

    
    

.dish-description {
    color: rgb(0, 0, 0);
    width: 600%;
}

.dish-title {
    color: blueviolet;
}

.dish-rate {
    color: rgb(14, 15, 15);
}

    
   